body{

    overflow: auto;

    .navbar-brand {
        padding: 0px;
    }

    .navbar-nav li a{
        outline: none;
    }

    .carousel-caption {
        padding-bottom: 70px;
        bottom: none;
        top: 30%;
    }


    @media (max-width: 1024px) {
        .carousel-inner {
            overflow: auto;
        }
    }


    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus  {
        background-color: #FFF;
        background-image: none;
        border-color: transparent;
        color: #232423;
    }


    .favoriteCol{
        /** border: thin dotted #333333; **/
        float: left;
        min-width: 170px;
        /**width: 25%; */
        height: 300px;
        margin: 0;
        padding: 5px;
        text-align: left;
    }

    .favoriteCol:first-child{
        border-left: none;
    }

    .favoriteColItem{
        margin: 7px 0;
        margin: 7px 5px;
    }


    .favoriteColItem .btn {
        font-weight: normal;
        min-width: 130px;
        text-align: left;
        padding: 10px;
    }

    .btn-group .btn {
        min-width: 0;
    }

    #googleBox{
        width: 150px;
        float: right;
        margin: 9px 10px 0px 0px;
    }

    #googleBox input#googleSearchQuery{
        border-radius: 4px;
        padding: 4px;
        background: url('../images/bgOraculo.png') no-repeat #FFFFFF 6px 4px;
    }

}


