@import "libs/measures";
@import "libs/fonts.scss";
@import "libs/utils.scss";


body{

    overflow: auto;
    color: #000;

    .navbar-wrapper{

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 20;

        .container {

            padding-left: 0;
            padding-right: 0;

            .navbar {

                opacity: 0.7;

                @media (max-width:$col-sm){
                    padding: 0;
                }

                .navbar-header{

                    img{
                        border: none;
                        outline: none;
                        width: 120px;
                        margin: 15px;
                    }

                }

                .navbar-collapse{

                    ul.navbar-nav li a{
                        outline: none;
                    }

                }

            }

        }

    }

    .modal-shadow {

        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        z-index: 1;
        display: none;

    }

    #myCarousel.carousel{

        height: 100%;
        position: absolute;
        width: 100%;

        .carousel-indicators{

            cursor: default;

            .active{
                background-color: #333;
            }

            li {

                border: 1px solid #333;
                cursor: default;

                &:hover{
                    background-color: #666;
                }

            }

        }

        .carousel-inner {

            background-color: #FFFFFS;
            height: 100%;

            .item{

                height: 100%;
                padding-top: 60px;
                background: left top #000 no-repeat;
                background-size: cover;

                &.tab1{
                    background-image: url('../images/bgs/item1.jpg');
                }

                &.tab2{
                    background-image: url('../images/bgs/item2.jpg');
                }

                &.tab3{
                    background-image: url('../images/bgs/item3.jpg');
                }

                &.tab4{
                    background-image: url('../images/bgs/item4.jpg');
                }

                &.tab5{
                    background-image: url('../images/bgs/item5.jpg');
                }

                .container{
                    height:100%;

                    h3{
                        color: #FFFFFF;

                        @include text-shadow();

                    }
                }


            }

        }



    }



    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus  {
        background-color: #FFF;
        background-image: none;
        border-color: transparent;
        color: #232423;
    }


    .favoriteCol{
        float: left;
        min-width: 170px;
        height: 300px;
        margin: 0;
        padding: 5px;
        text-align: left;
    }

    .favoriteCol:first-child{
        border-left: none;
    }

    .favoriteColItem{

        margin: 7px 0;
        margin: 7px 5px;

        a{
            cursor: context-menu;
            line-height: 17px;

            img{
                max-width: 16px;
                margin-right: 6px;
                max-height:16px;
            }

        }


    }


    .favoriteColItem .btn {
        font-weight: normal;
        min-width: 130px;
        text-align: left;
        padding: 10px;
    }

    .btn-group .btn {
        min-width: 0;
    }

    #googleBox{
        width: 135px;
        float: right;
        margin: 10px 0px 0px 0px;
    }

    #googleBox input#googleSearchQuery{
        border-radius: 4px;
        padding: 4px;
        background: url('../images/icons/bgOraculo.png') no-repeat #FFFFFF 7px 1px;
        background-size: contain;
        border: none;
    }

}


